.Wdate{
	/*border:#999 1px solid;*/
	/*height:20px;*/
	background-image:/*#fff*/ url(datePicker.gif) ;
    background-position:right;
    background-repeat:no-repeat;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}